.list-con {
  overflow-y: scroll;
}

.datentime {
  /* backdrop-filter: blur(50px); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

@media only screen and (max-width: 600px) {
  .todo-main-con {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .list-con {
    height: 50vh;
  }
}
